*{
  margin:0;
  padding:0;
  font-family: 'Cabin', sans-serif;
}

body{
  background-image: url("https://res.cloudinary.com/roadtrippers/image/upload/v1430413567/secrets-of-central-park-everything-you-never-knew-about-new-york-citys-lush-oasis.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*HomePage*/

.searchbox{
  margin-left:auto;
  margin-top:auto;
  height:auto;
  width:90%;
  text-align: center;
  padding-top:10px;
}

.button{
  color: lightseagreen;
  /*border-width: 5px;*/
  font-size: 2em;
}

#searchtext{
  font-size: 30px;
}

#txt{
  width:900px;
  height:100px;
  font-size:45px;
}

#cloudone{
  position: fixed;
  left: 10px;
}

#cloudtwo{
  position: fixed;
  left: 30px;
}

.find{
  background-color: #DCDCDC;
  box-shadow: 5px 5px 1px #888888;
  border-radius:10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height:270px;
  width:40%;
  color:goldenrod;
  margin-top:300px;
  margin-left: 30px;
  margin-right: 50px;
  margin-bottom: 150px;
  display:block;
  float:left;
  text-align:center;
  opacity: 0.8;
}

#findimage{
  height: 200px;
  width: 50%;
}

.create{
  background-color: #DCDCDC;
  box-shadow: 5px 5px 1px #888888;
  border-radius:10px;
  padding: 10px;
  height:270px;
  width:40%;
  padding:10px;
  margin-right: 30px;
  margin-top: 40px;
  color:goldenrod;
  display:block;
  float:right;
  text-align:center;
  opacity: 0.8;
}

.meet{
  background-color: #DCDCDC;
  box-shadow: 5px 5px 1px #888888;
  border-radius:10px;
  padding: 10px;
  height:270px;
  width:40%;
  padding:10px;
  margin-right: 60px;
  margin-top: 30px;
  color:goldenrod;
  display:block;
  float:right;
  text-align:center;
  opacity: 0.8;
}

#meettext{
  margin-top: 5px;
}

/*Navigation Bar*/
nav{
  background-color: #DCDCDC;
  width:95%;
  height:70px;
  margin-left:auto;
  margin-right: auto;
  margin-top:5px;
  border-radius:20px;
  opacity:.9;
  font-size:40px;
  padding-top:10px;
  opacity: 0.8;
}

nav>ul{
  list-style-type: none;
}
nav>ul>li{
  float:right;
  padding-right:15px;
}
nav>ul>li>a{
  display:block;
  font-size:100%;
  text-decoration: none;
  padding-right:10px;
  color:orange;
}

/*About Page*/
.bio{
  display:block;
  float:left;
  height:400px;
  width:30%;
  border:solid;
  border-radius:10px;
  margin-left:auto;
  margin-right:auto;
  background-color:#C1E8C4;
}

#biocontainer{
  height:400px;
  width:95%;
  margin-left:90px;
  margin-right:auto;
  opacity: 0.8;
}

/*Results Page*/
#resultstitle{
  color:#34518A;

}
#oneevent{
  height:auto;
  width:50%;
  padding:10px 10px;
  background-color:#FFFFFF;
  border-radius:10px;
  margin-top:10px;
  margin-left:auto;
  margin-right:auto;
}
.resultscontainer{
  margin-top:30px;
  height:auto;
  opacity:.8;
  padding:10px 30px 50px;
  text-align: center;
  background-color:#34518A;
}
/*ViewEvent Page*/
.eventboxes{
  height:auto;
  padding:10px 10px;
  width:auto;
  border-radius:10px;
}
#eventbox{
  margin-top:50px;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  border-radius:10px;
  text-align:center;
}
#eventbox1{
  margin-top:40px;
  display:block;
  float:left;
  opacity:.8;
  background-color:#000000;
  color:#FFFFFF;
  width:45%;
  text-align:right;

}
#eventbox2{
  display:block;
  float:right;
  margin-top:200px;
  width:40%;
  opacity:.8;
  background-color:#000000;
  color:#FFFFFF;
  text-align: left;
}
#titlebox{
  background-color:#FFFFFF;
  margin-left:auto;
  margin-right:auto;
  opacity:.9;
  padding:10px 20px;
}
#title{
  color:#34518A;
  font-size:60px;
}
#name{
  font-weight: normal;
}
#descrip{

  font-size:60;
}
.titlesinbox{
  text-align:center;
  font-size:40;
  font-weight:normal;
}

/*make event page*/

.make{
  background-color: lemonchiffon;
  padding: 12px;
  margin-top: 50px;
  height: 450px;
  width: 28%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
}
.titlesinbox{
  text-align:center;
}
