*{
  margin:0;
  padding:0;
}
<<<<<<< HEAD
body{
  background-image: url("/Users/demouser/cssi/cssi-fit-project/images/collage.jpg");
=======
/*body{
  background-image: url("http://host2post.com/server13/photos/UrAAWHXgSspswM~/Wallpaper-Gauze-Green-Texture-Background-Wallpapers-Textures_2560x1600.jpg");
}*/
*{
  font-family: 'Cabin', sans-serif;
>>>>>>> c7d61fa961179dc4c871d3dfc346b6f3f9a4c56e
}

/*HomePage*/
#searchbox{
  margin-left:auto;
  margin-top:auto;
  height:auto;
  width:90%;
  text-align: center;
}

/*Navigation Bar*/
nav{
  background-color: #070708;
  width:95%;
  height:90px;
  margin-left:auto;
  margin-right: auto;
  border-radius:10px;
  opacity:.9;
}

nav>ul{
  list-style-type: none;
}
nav>ul>li{
  float:right;
}
nav>ul>li>a{
  display:block;
  font-size:100%;
  text-decoration: none;
  padding-right:10px;
  color:orange
}

.find{
  background-color: #C1E8C4;
  border-radius:10px;
  height:270px;
  width:40%;
  padding:100;
  color:orange;
  margin-top:300px;
  display:block;
  float:left;
  text-align:center;
}

.create{
  background-color: #C1E8C4;
  border-radius:10px;
  height:270px;
  width:40%;
  padding:100;
  color:orange;
  margin-top:10px;
  display:block;
  float:right;
  text-align:center;
}

/*About Page*/
.bio{
  height:25%;
  width:95%;
  border:solid;
  border-radius:10px;
  margin-left:auto;
  margin-right:auto;
  background-color:#C1E8C4;
}

/*ViewEvent Page*/
.eventboxes{
  height:auto;
  padding:80px 30px;
  width:45%;
}
#eventbox{
  margin-top:50px;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  height:1000px;
  border:solid;
  border-radius:10px;
  text-align:center;
}
#eventbox1{
  border:solid;
  text-align:left;
  display:block;
  float:left;
}
#eventbox2{
  border:solid;
  text-align:left;
  display:block;
  float:right;
  margin-top:10px;
}
#title{
  color:blue;
  font-size:40px;
}
#name{
  font-weight: normal;
}
